:root {
  --clr-white: hsl(0, 0%, 100%);
  --clr-grey: hsl(217, 19%, 35%);
  --clr-bg-body: hsl(210, 46%, 95%);
  --clr-bg-purple: hsl(263, 55%, 52%);
  --clr-bg-dark: hsl(219, 29%, 14%);

  --fnt-fam-regular: "Barlow Semi Condensed", sans-serif;
  --fnt-wgt-base: 500;
  --fnt-wgt-bold: 600;
  --fnt-size-base: 15px;
  --fnt-size-bold: 1.5rem;
}

/* CSS Reset */

/*
  1. Use a more-intuitive box-sizing model.
  2. Remove default margin
*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Global */

.flex {
  display: flex;
}

body {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  font-size: var(--fnt-size-base);
  font-family: var(--fnt-fam-regular);
  color: var(--clr-white);
  background-color: var(--clr-bg-body);
}

/* Typography */

.profile__status {
  opacity: 50%;
}

.quote__snippet {
  font-size: var(--fnt-size-bold);
  line-height: 1.3;
  margin-bottom: 1.15rem;
  font-weight: var(--fnt-wgt-bold);
}

.quote_box_3,
.quote_box_5{
  color: var(--clr-grey);
}

.quote_text {
  opacity: 70%;
}
/* Layout */

.quote_box {
  margin-bottom: 1.9rem;
  padding: 2rem 2.7rem;
  border-radius: 10px;
}

.quote_box_3,
.quote_box_5 {
  background-color: var(--clr-white);
}

.quote_box_1 {
  background-color: var(--clr-bg-purple);
  background-image: url(./testimonials-grid-section-main/images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: top right 30px;
  background-size: 130px 140px;
}

.quote_box_2 {
  background-color: var(--clr-grey);
}

.quote_box_4 {
  background-color: var(--clr-bg-dark);
}

.quote__user_profile {
  margin-bottom: 1.5rem;
  align-items: center;
}

/* Utilities */

.profile__img {
  margin-right: 1.3rem;
  border-radius: 50px;
  height: 50px;
  width: 50px;
}

/* Desktop */

@media(min-width:1000px){
  .grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: .9rem;
  }


  .grid_1{
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .grid_4{
    grid-column: 2/4;
  }

  .grid_5{
    grid-column: 4/5;
    grid-row: 1/3;
  }
}

/* Footer */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
